$body-color: red;
$image-bg-color: #eee;

body {
    color: $body-color;
}

span {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #000;
}

.hero-image {
    background: url('./images/outside.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: auto;
}

footer {
    font-size: small;
}