:root {
    --red: #6f1d1b;
    --brown: #432818;
    --brown-light: #99582a;
    --yellow: #FFC300;
    --white: #fffff9;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

/* generic styles */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--white);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 0.2em;
    text-decoration-color: var(--brown);
}

h1 {
    font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
    color: var(--red);
}


.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 52dp,
}


/* reusable components */

.grid-3rows {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.content-wrap {
    position: relative;
}

.container {
    width: 80%;
}

.padding-2em {
    padding: 2em;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.centered {
    margin: 0 auto;
}

.align-center {
    align-items: center;
}

/* nav styles */

nav {
    height: 50px;
    overflow: hidden;
    background-color: var(--red);
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    height: 100%;
}

nav>ul>a>li {
    padding: 1em;
    margin-right: 0.5em;
    color: var(--white);
}

nav>ul>a>:hover {
    background-color: var(--brown-light);
}

/* HOME STYLES */

/* left */

.home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    margin-left: 2em;
    position: relative;
}

.home-left>* {
    margin: 0.5em 0;
}

.text-circle {
    z-index: 2;
    position: fixed;
    top: 50px;
    right: 0;
}

/* right */

.home-right {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.hero-img {
    width: 100%;
    height: auto;
}

hr {
    border-top: 2px dotted var(--brown-light);
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 0.25em 0;
}

/* ## MENU STYLES ## */

.menu-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.menu-img {
    height: 250px;
    width: auto;
}

/* ## CONTACT STYLES ## */

.contact-header {
    margin: 1em;
    padding: 1em;
}

.contact-header>h1 {
    padding-bottom: 1em;
}

.contact-header>ul {
    list-style-type: none;
    padding: 0;
}

.contact-img {
    max-width: 80%;
    height: auto;
}

.contact-span {
    color: var(--brown-light);
}

/* form styles */

legend>h2 {
    text-align: center;
}

.contact-form {
    max-width: 80%;
    font-size: 1.1rem;
    line-height: 1.2;
    padding: 0.25em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    font-size: 1.1rem;
    padding: 0.25em;
}

textarea {
    resize: none;
    width: 100%;
    font-family: inherit;
}

input[type=submit] {
    border: none;
    background-color: var(--yellow);
    color: var(--brown);
    border-radius: 4px;
    padding: 0.5em;
    font-size: 1.1rem;
}

input[type=submit]:hover {
    background-color: var(--yellow);
    opacity: 0.85;
}

input[type=submit]:active {
    background-color: var(--brown-light);
}

/* footer  */

footer {
    padding: .5em 0;
    font-size: small;
    text-align: center;
}

footer>a {
    color: var(--brown-light);
}


/* ## DESKTOP STYLES ## */

@media screen and (min-width: 840px) {
    .content-wrap {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .text-circle {
        z-index: 2;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .contact-img-wrap {
        max-width: 100%;
        height: auto;
    }
}

/* goofin around with circle text */

svg {
    fill: var(--yellow);
    height: auto;
    max-width: 30vmin;
    transform-origin: center;
    width: 25%;
}

.animate-circle {
    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
    -ms-animation-name: rotate;
    -o-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -ms-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(360deg);
    }

    to {
        -moz-transform: rotate(0);
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(360deg);
    }

    to {
        -ms-transform: rotate(0);
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(360deg);
    }

    to {
        -o-transform: rotate(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}